body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 100px;
}

header {
  background: #222;
  color: #fff;
  padding: 20px;
}

section {
  margin: 40px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}
