body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}
